{% load static %}
<html>
    <head>
        <title>Forum</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/head.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/content1.css' %}">
        <link rel="stylesheet" href="{% static 'css/posts.css' %}">
        <link rel="stylesheet" href="{% static 'css/post_detail6.css' %}">
    </head>
    <body>
    <div class="head">
        <a href="{% url 'post_list' %}" class="logo" >Logo</a>
        
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="craete-account-button">NEW POST<span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'logout' %}" class="login-button">Log out</a>
        {% else %}
            <a href="{% url 'login' %}" class="login-button">Log in</a>
            <a href="{% url 'register' %}" class="craete-account-button">Create account</a>
        {% endif %}
    </div>
    
    <div class="body">
        {% if user.is_authenticated %}
        <div class="menu-bar">
            <br>
            <a href="{% url 'user_profile' pk=user.profile.id %}" class="curr-menu-bar-button">Profile</a>
            <a href="{% url 'post_list' %}" class="menu-bar-button">Forum</a>
        </div>
         {% endif %}


        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% block scripts %}
    <script src="{% static 'js/post_delete1.js' %}"></script>
{% endblock %}
</body>
</html>

        