{% extends 'head/base_regist.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="box">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="add-profile-picture">
            <!--<input type="file"  name="file" id="file" class="input-file"> -->
            
            <h2>Profile pic:</h2>
            {{ form.profile_pic }}
        </div>

        <div class="add-profile-bio">
            <h2>Bio:</h2>
                {{ form.bio }}
        </div>

        <div class="input">
            <h2>First name:</h2>
                {{ form.first_name }}
                <label class="line"></label>
        </div>

        <div class="input second">
            <h2>Last name:</h2>
                {{ form.last_name }}
                <label class="line"></label>
        </div>

        <button tyoe="submit">submit</button>
    </form>
</div>
{% else %}
    <a href="{% url 'login' %}">Login</a>;
{% endif %}

{% endblock content %}