<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="head.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="posts.css">

</head>
<body>
    <div class="head">
        <a href="#" class="logo" >Logo</a>
        <a href="#" class="login-button">Log in</a>
        <a href="#" class="craete-account-button">Create account</a>
    </div>
    <div class="body">
        <div class="menu-bar">
            <br>
            <a href="#" class="menu-bar-button">Profile</a>
            <a href="#" class="curr-menu-bar-button">Fourum</a>
        </div>
        <div class="content">

            <a href="#"><div class="ramdom-post">
                <div class="title-name">Title</div>
                <div class="post-info">
                    <div><img src="img/Ellipse 4avatar.png" class="img"></div>
                    <div>
                        <div class="nick-name">@nickname</div>
                        <div class="comment">Amet facilisis magna etiam tempor orci eu. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Tempor id eu nisl nunc mi.</div>
                        <img src="img/image 6.png" class="comment-img">
                    </div>
                </div>
            </div></a>

            <a href="#"><div class="ramdom-post">
                <div class="title-name">Title</div>
                <div class="post-info">
                    <div><img src="img/Ellipse 5.png" class="img"></div>
                    <div>
                        <div class="nick-name">@nickname</div>
                        <div class="comment">Amet facilisis magna etiam tempor orci eu. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Tempor id eu nisl nunc mi.</div>
                        <img src="img/image 8.png" class="comment-img">
                        <img src="img/image 7.png" class="comment-img">
                    </div>
                </div>
            </div></a>
        </div>
    </div>
</body>
</html>