{% extends 'header/base.html' %}



{% block content %}
    {% for post in posts %}
    <a href="#">
        <div class="ramdom-post">
            <div class="title-name"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></div>
                <div class="post-info">
                    <div>
                        {% if post.author.profile.profile_pic %}
                            <img src="{{ post.author.profile.profile_pic.url }}" height="50" width="50" class="user-img">
                        {% else %}
                        
                        {% endif %}
                    </div>
                        <div>
                            <a href="{% url 'user_profile' pk=post.author_id %}"><div class="nick-name">{{ post.author }}</div></a>
                            <div class="comment">{{ post.text|linebreaksbr }}</div>
                            {% if post.image %}
                                <img class='post_img' src="{{ post.image.url }}"  >
                            {% else %}
                                <p></p>
                            {% endif %}
                        </div>
                </div>
        </div></a>
{% endfor %}
{% endblock %}

