{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        {% if post.author == request.user %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Редагувати пост<span class="glyphicon glyphicon-pencil"></span></a>
            <button class="btn btn-danger" onclick="deletePost({{ post.pk|safe }})">Видалити пост</button>
        {% endif %}
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.image %}
            <p><img src="{{post.image.url}}"></p>
        {% else %}
            <p></p>
        {% endif %}
    </div>
    <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    {{ comment.author }} | {{ comment.created_date }}
                </p>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
        
        
        {% if user.is_authenticated %}
        <hr>
            <h2>Add Comment</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Comment</button>
                </form>
        {% endif %}

{% endblock %}







