{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        {% if post.author == request.user %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Редагувати пост<span class="glyphicon glyphicon-pencil"></span></a>
            <button class="btn btn-danger" onclick="deletePost({{ post.pk|safe }})">Видалити пост</button>
        {% endif %}
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.image %}
            <p><img src="{{post.image.url}}"></p>
        {% else %}
            <p></p>
        {% endif %}
    </div>
{% endblock %}







